Name - Aman jyoti Deka <br>
Reg no - 20BCE0637

Task 1:

In [2]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.rand(4,4))

Task 2:

In [3]:
df.columns=['Random value 1','Random value 2','Random value 3','Random value 4']

Task 3:

In [4]:
df.describe()

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.441602        0.296271        0.400930        0.807715
std          0.291595        0.189710        0.326229        0.155428
min          0.137091        0.089361        0.012422        0.636106
25%          0.239755        0.158140        0.240020        0.705823
50%          0.422436        0.318273        0.398551        0.804681
75%          0.624283        0.456404        0.559461        0.906573
max          0.784443        0.459179        0.794198        0.985391

Task 4:

In [5]:
df.isnull()

   Random value 1  Random value 2  Random value 3  Random value 4
0           False           False           False           False
1           False           False           False           False
2           False           False           False           False
3           False           False           False           False

Task 5:

In [6]:
df.info()
df.loc[:,'Random value 2':'Random value 3']
df.iloc[:,1:3]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Random value 1  4 non-null      float64
 1   Random value 2  4 non-null      float64
 2   Random value 3  4 non-null      float64
 3   Random value 4  4 non-null      float64
dtypes: float64(4)
memory usage: 256.0 bytes

   Random value 2  Random value 3
0        0.181066        0.481215
1        0.455479        0.315886
2        0.089361        0.794198
3        0.459179        0.012422